<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Hogwarts Students</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/hogwarts-students">Hogwarts Students</a></li>
      <li><a href="/hogwarts-students/new">Enroll New Student</a></li>
    </ul>
  </nav>
</body>
</html>
